.sl-main{
  height: 70vh;
  width: 45vw;
  text-align: left;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-left: 4vw;
}
.sl-main h1{
  font-size: 4vw;
  font-family: 'Montserrat';
  margin: 0 0 30px 0 !important;
  display: flex;
  justify-content: flex-start !important;
  font-weight: 500;
}
.sl-main h2{
  font-size: 3.5vw;
  font-family: 'Montserrat';
  margin: 0;
}
.sl-main p{
  font-size: 2.5vw;
  font-family: 'Montserrat';
  letter-spacing: .2vw;
}
