*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  .navBar{
    color: #25347b;
    font-family: Montserrat 500 Medium;
    background-color: #5e6fd3;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
  }
  .navLogo{
    height: 8vh;
    padding-left: 10vw;

  }

  ul{
    display: flex;
    flex: 2;
    justify-content: flex-end;
    font-size: 14px;
  }



  a{
    color: white;
  }

  .logoutButton{
    background:#4CAF50;
    color: white;
    font-size: 14px;
    padding: 3%;
    border-radius: 20%;
  }
  
  